{% extends "layout.html" %} {% block title %} Quote {% endblock %} {% block main %}
<form action="/quote" method="post">
  <div class="mb-3">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text" />
  </div>
  <button class="btn btn-primary" type="submit">Quote</button>
</form>

<table class="table table-striped">
  <caption class="caption-top fw-bold text-center lead">List of Top Companies and Their Symbols</caption>
  <caption class="figure-caption text-center">use <a class="btn btn-sm" href="https://www.google.com/search?q=companies+stock+symbols">google</a> to find more symbols</caption>
  <thead>
    <tr>
      <th class="text-center">Symbol</th>
      <th class="text-center">Company Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AAPL</td>
      <td>Apple Inc.</td>
    </tr>
    <tr>
      <td>GOOG</td>
      <td>Alphabet Inc.</td>
    </tr>
    <tr>
      <td>AMZN</td>
      <td>Amazon.com, Inc.</td>
    </tr>
    <tr>
      <td>META</td>
      <td>Meta Platforms, Inc.</td>
    </tr>
    <tr>
      <td>TSLA</td>
      <td>Tesla, Inc.</td>
    </tr>
    <tr>
      <td>V</td>
      <td>Visa Inc.</td>
    </tr>
    <tr>
      <td>MA</td>
      <td>Mastercard Incorporated</td>
    </tr>
    <tr>
      <td>JNJ</td>
      <td>Johnson & Johnson</td>
    </tr>
    <tr>
      <td>KO</td>
      <td>The Coca-Cola Company</td>
    </tr>
    <tr>
      <td>NFLX</td>
      <td>Netflix, Inc.</td>
    </tr>
    <tr>
      <td>WFC</td>
      <td>Wells Fargo & Company</td>
    </tr>
    <tr>
      <td>DIS</td>
      <td>The Walt Disney Company</td>
    </tr>
    <tr>
      <td>SBUX</td>
      <td>Starbucks Corporation</td>
    </tr>
    <tr>
      <td>CMG</td>
      <td>Chipotle Mexican Grill, Inc.</td>
    </tr>
    <tr>
      <td>PYPL</td>
      <td>PayPal Holdings, Inc.</td>
    </tr>
    <tr>
      <td>EA</td>
      <td>Electronic Arts Inc.</td>
    </tr>
    <tr>
      <td>JWN</td>
      <td>Nordstrom, Inc.</td>
    </tr>
    <tr>
      <td>SAM</td>
      <td>The Boston Beer Company, Inc.</td>
    </tr>
  </tbody>
</table>

{% endblock %}
